{{#each this}}
<h2 class="title">{{name}}</h2>
<div class="info">
    <div class="country-info">
<p class="capital">Capital:  <p class="capital_value">{{capital}}</p> </p>


<p class="population">Population: <p class="population_value">{{population}} people</p></p>

<p class="currencies-title">Currencies:</p>
{{#each currencies}}
<ul class="currencies-list">
    <li class="currencies-name">{{this.name}} </li>
</ul>
{{/each}}

<p>languages</p>
{{#each languages}}
<ul class="languages">
    <li class="languages-name">{{this.name}}</li>
</ul>
{{/each}}
    </div>

<img src="{{flag}}" alt="{{name}}" width="300">

</div>
{{/each}}